<!DOCTYPE html>
<html>
    <head>
        <title>ResuMaker - Education</title>
        <link href = "style.css" rel = "stylesheet" type = "text/css" />
    </head>

    <body>
        <h2>Education</h2>
        <form action="">
            <p><input type="text" placeholder="School Name" required>
            <input type="text" placeholder="Location" required></p>
            <p><input type="text" placeholder="Email" required></p>
            <p><input type="text" placeholder="Phone Number" required></p>
            <p><input type="text" placeholder="Other Contact Information (optional)"></p>
            <p><button type="submit">Submit</button></p>
          </form>
    </body>
</html>